<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update food</title>
</head>
<body>
    <form class="w3-container" method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input class="w3-input" type="text" name="title">
        <label>Source</label>
        <input class="w3-input" type="text" name="source">
        <label>Description</label>
        <input class="w3-input" type="text" name="description">

        <input class="w3-btn w3-teal" type="submit" value="submit">
    </form>
</body>
</html>